.treat_dim{display:none; position: fixed; top: 0; bottom: 0; left: 0; right: 0; font-size: 0; overflow-y: scroll; background-color: rgba(0,0,0,.8); z-index: 10000; pointer-events: none; opacity: 0; transition: opacity .3s;  opacity: 1; pointer-events: auto; overflow-y: auto;}
.treat_dim:before{content: " "; display: inline-block; vertical-align: middle; height: 100%; box-sizing: inherit;}

.treat_popup{ font-size:16px; width:28.500em; height:44.750em; padding:1.313em; box-sizing:border-box; border-radius:8px; background:#fff; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); z-index:1105; min-width:280px;}
.treat_popup .btn_popClose{position:absolute; right:1.375em; top:1.375em; display:inline-block; width:1.500em; height:1.625em; background:url(../images/btn_popClose.png)no-repeat center; background-size:contain; text-indent:-9999px;}
.treat_box{padding-top:2.500em;}
.treat_box .treat_text{font-size:1.3em; font-weight:500; color:#007bff; line-height:1.3; margin-bottom:1.364em; text-align:center;}
.payment_box{}
.payment_box .payment_title{font-size:1.094em; font-weight:500; color:#646464; line-height:1; margin-bottom:0.800em;}
.payment_box .payment_title b{font-weight:bold; color:#0086fc}
.payment_box .payment_list{max-height:24.250em; overflow:auto; overflow-x:hidden; margin-bottom:1.250em}
.payment_box .payment_list .payment_item{margin-bottom:0.813em;}
.payment_box .payment_list .payment_item:last-child{margin-bottom:0;}
.payment_item input{display:none;}
.payment_item input+label{display:block; width:100%; height:5.438em; border:0.125em solid #ebebef; border-radius:0.375em; text-align:center; padding:1.125em 0; cursor:pointer; margin:0}
.payment_item input:checked+label{border:0.15em solid #0086fc;}
.payment_item input+label span{font-weight:bold;}
.payment_item input+label .num{font-size:1.4em; font-weight:400; color:#495057; line-height:1; position:relative; margin-bottom:0.527em; display:inline-block; padding-left:1.217em;}
.payment_item input+label .num:before{content:''; display:block; position:absolute; left:0; top:0.101em; width:0.852em; height:0.811em; background:url(../images/ico_payment.png)no-repeat center; background-size:contain;}
.payment_item input+label .s_txt{font-size:0.9em; font-weight:500; color:#646464; line-height:1; display:block; }
.btn_proceed{display:inline-block; width:100%; height:3.432em; line-height:3.432em; border-radius:0.261em; background:#0086fc; text-align:center; font-size:1.439em; font-weight:500; color:#fff; }
.btn_proceed:visited,
.btn_proceed:focus{background:#0056a1; }
@media (max-height: 800px){
	.treat_popup{font-size:14px;}
}
@media (max-height: 700px){
	.treat_popup{font-size:13px;}
}
@media (max-width: 500px){
	.treat_popup{width: calc(100% - 20px); font-size:15px;}
}
@media (max-width: 450px){
	.treat_popup{font-size:14px;}
}
@media (max-width: 415px){
	.treat_popup{font-size:13px;}
}
@media (max-width: 390px){
	.treat_popup{font-size:12px;}
}
@media (max-width: 360px){
	.treat_popup{font-size:11px;}
}
@media (max-width: 335px){
	.treat_popup{font-size:10px;}
}
@media (max-width: 305px){
	.treat_popup{font-size:9px;}
}
